body{
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1.25em;
}
.navBar{
  background-color: #6a6a6a;
  overflow: hidden;
}
.navBar a{
  text-decoration: none;
  display: block;
  float: left;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
}
.navBar a:hover{
  color: #000;
  background-color: white;
}
.navBar a.main{
  background-color: #40bf8e; // Colors main element
  color: black;
}
.navBar a.main:hover{
  background-color: #fff;
  color: black;
}
.navBar a.icon{
  display: none;
}
button{
  border: none;
  padding: 0;
  background: none;
  float: right;
  width: 44px;
  height: 34px;
  position: relative;
}
.navIconBar{
  left: 25%;
  display: block;
  background-color: red;
  width: 22px;
  height: 2px;
  position: absolute;
}
.navIconBar:nth-child(1){
}
.navIconBar:nth-child(2){
  top: 5px;
}
.navIconBar:nth-child(3){
  top: 22px;
}
@media screen and (max-width: 576px) {
  body{
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -o-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    font-size-adjust: none;
  }
  .navBar a:not(:first-child) {display: none;}
  .navBar a.icon {
    float: right;
    display: inline-block;
  }
  .navBar.responsive {position: relative;}
  .navBar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navBar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
