<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Poker - Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="/css/potOdds.css">
  </head>
  <body>
    <div class="navBar">
      <a class="navBarLogoText" href="/potOdds">Pot Odds</a>
      <div class="navBarToggle" onclick="navBar()">
        <div class="navBarTogglePart"></div>
        <div class="navBarTogglePart"></div>
        <div class="navBarTogglePart"></div>
      </div>
      <div class="navBarLinks" id="navBarLinks">
        <a href="/">Dashboard</a>
      </div>
    </div>
    <div class="content">
      <div class="themedBox newSet" onclick="newSet()">
        <p>New Set</p>
      </div>
      <div class="themedBox newSet" onclick="show()">
        <p>New Set</p>
      </div>
      <div class="container themedBox">
        <p class="currentPot"></p>
        <p class="playerBet"></p>
      </div>
    </div>
<script type="text/javascript" src="/scripts/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/dashboard.js"></script>
<script type="text/javascript" src="/scripts/potOdds.js"></script>
</body>
</html>
