<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Poker - Dashboard</title>
  </head>
  <body>
    <form action="/school" method="POST">
      <label>Name:</label>
      <input type="text" name="name">
      <br>
      <label>ID:</label>
      <input type="number" name="pos">
      <br>
      <button>Submit</button>
    </form>


<script type="text/javascript" src="/scripts/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/school.js"></script>
</body>
</html>
