body{
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
}
div{
  display: block;
  overflow: auto;
}
h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}
/* Intro Stuff */
.parallax-window{
  height: 100vh;
  background: transparent;
}
.intro{
  margin-left: 8%;
  margin-top: 100px;
}
.introMain{
  color: #00ccce;
  font-size: 34px;
}
.introP{
  font-size: 27px;
  color: #f6745e;
}
/* End of intro stuff */'
.content{

}
.leftFull{
  height: 500px;
}
@media (min-width: 993px) {
}
