<!DOCTYPE html>
<html>
  <head>
    <title>Hotel Bonfire</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  </head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1">
  <body>
