<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Responsive Navbar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="navBar" id="navBar">
      <a href="#" class="main">Home</a>
      <a href="#">Website Templates</a>
      <a href="#">Contact</a>
      <a href="#">About</a>
      <div class="navIconButton" onclick="navIconClick()">
        <span class="navIconBar"></span>
        <span class="navIconBar"></span>
        <span class="navIconBar"></span>
      </div>
    </div>

    <div class="content" onclick="focusContent()">
      <div class="container">
        <div class="col lg-10-nl md-12-nl sm-12-nl">
          <p>Quisque cursus et arcu ac venenatis. Morbi ut lacinia nibh, et aliquet metus. Morbi suscipit, sem non vehicula elementum, turpis lorem imperdiet lacus, sit amet aliquet arcu dui at ipsum. Quisque sagittis in est nec maximus. Duis placerat elit mollis congue consectetur. Mauris eleifend, quam at imperdiet bibendum, libero nunc venenatis sem, eget egestas purus enim nec nulla. Proin sit amet luctus justo, ut imperdiet lacus. Suspendisse potenti. Curabitur ligula ante, eleifend a ligula a, gravida venenatis est. Pellentesque lobortis in enim vel porttitor. Quisque quis augue leo. Nullam molestie maximus dui sit amet congue. Integer sagittis nisl nec consectetur varius. Suspendisse vulputate ultrices lacus, a lobortis sem hendrerit eget. Donec semper ligula nec fermentum rutrum.</p>
        </div>
      </div>
    </div>
    <script src="/scripts/script.js"></script>
  </body>
</html>
