<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Responsive Navbar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="navBar" id="navBar">
      <a href="#" class="main">Home</a>
      <a href="#">Shop</a>
      <a href="#">Locations</a>
      <a href="#">Contact</a>
      <div class="navIconButton">
        <!-- <p>;alsdkfj;lkj</p> -->
        <span class="navIconBar"></span>
        <span class="navIconBar"></span>
        <span class="navIconBar"></span>
      </div>
    </div>
    <script>
    function myFunction() {
        var x = document.getElementById("navBar");
        if (x.className === "navBar") {
            x.className += " responsive";
        } else {
            x.className = "navBar";
        }
    }
    </script>
  </body>
</html>
