<% include partials/header %>
  <div class="navBar" id="navBar">
    <a href="/" class="main">Home</a>
    <a href="websites">Website Themes</a>
    <a href="contact">Contact</a>
    <div class="navIconButton" onclick="navIconClick()">
      <span class="navIconBar"></span>
      <span class="navIconBar"></span>
      <span class="navIconBar"></span>
    </div>
  </div>

  <div class="content" onclick="focusContent()">
    <div class="container">
      <div class="col lg-12-nl md-12-nl sm-12-nl">
        <h1 class="jumboFont">Jax Tubbs</h1>
        <p class="textCenter">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec est non tortor semper mollis. Mauris ac consequat enim. Pellentesque aliquet risus sit amet ultrices congue. Nullam molestie, erat et imperdiet faucibus, neque
          augue maximus felis, et iaculis ligula arcu ut diam. Etiam lacinia nibh metus, eu aliquam nunc euismod blandit.s</p>
        <p class="textCenter">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec est non tortor semper mollis. Mauris ac consequat enim. Pellentesque aliquet risus sit amet ultrices congue. Nullam molestie, erat et imperdiet faucibus, neque
          augue maximus felis, et iaculis ligula arcu ut diam. Etiam lacinia nibh metus, eu aliquam nunc euismod blandit. Vivamus finibus est quis nisl viverra, quis egestas lacus molestie. Aliquam molestie pellentesque velit finibus imperdiet. Morbi at erat
          eget turpis accumsan dictum eu vel sapien. Aenean luctus turpis quis mauris sollicitudin aliquet. Quisque fringilla convallis nisl, at pulvinar urna convallis eget. Suspendisse potenti. Quisque non ultricies ipsum, at vehicula sem. Sed consequat
          cursus quam, sed placerat libero fermentum eget. Quisque bibendum feugiat ligula. Vivamus dignissim placerat nulla ut pretium. Nunc sed libero purus. Ut commodo risus sit amet felis maximus dignissim. Aliquam at erat diam. Suspendisse eget magna
          tortor. Cras a ex mi. Praesent laoreet pulvinar facilisis. Nam blandit lorem nec consequat ullamcorper.</p>
      </div>
    </div>
  </div>
  <% include partials/footer %>
