<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Responsive Navbar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="navBar" id="navBar">
      <a href="#" class="main">Home</a>
      <a href="#">Website Templates</a>
      <a href="#">Contact</a>
      <a href="#">About</a>
      <div class="navIconButton" onclick="navIconClick()">
        <span class="navIconBar"></span>
        <span class="navIconBar"></span>
        <span class="navIconBar"></span>
      </div>
    </div>

    <div class="content" onclick="focusContent()">
      <div class="container">
        <div class="col lg-10-nl md-12-nl sm-12-nl">
          <p>Quisque cursus et arcu ac venenatis. Morbi ut lacinia nibh, et aliquet metus. Morbi suscipit, sem non vehicula elementum, turpis lorem imperdiet lacus, sit amet aliquet arcu dui at ipsum. Quisque sagittis in est nec maximus. Duis placerat elit mollis congue consectetur. Mauris eleifend, quam at imperdiet bibendum, libero nunc venenatis sem, eget egestas purus enim nec nulla. Proin sit amet luctus justo, ut imperdiet lacus. Suspendisse potenti. Curabitur ligula ante, eleifend a ligula a,Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae felis vehicula, posuere quam sit amet, consequat sem. Nullam eget aliquam mi. Morbi dapibus in eros non rhoncus. Cras dignissim est a volutpat iaculis. Morbi diam metus, venenatis ac velit at, hendrerit congue arcu. In sed placerat massa. Curabitur ut ipsum sit amet sem venenatis tincidunt sed aliquet tortor. In ac nibh consequat, interdum risus ac, mollis justo.

Nam in mauris massa. In tincidunt turpis in urna imperdiet lacinia. Sed porta sem vehicula ullamcorper venenatis. Suspendisse potenti. In sed dui dapibus lorem pretium semper ut sed erat. Aliquam pharetra libero quis velit iaculis, viverra condimentum nulla vehicula. Curabitur tellus sapien, malesuada ut libero vel, porta vehicula nisi. Nulla in mattis eros. Fusce et est dui.

Donec non volutpat leo, vitae aliquam quam. Fusce ac tempus nisi. Maecenas a odio venenatis, vehicula orci at, accumsan urna. Donec sed laoreet mi, vel faucibus urna. Cras nec porttitor dolor, in ornare neque. Duis non ante tristique, luctus dui et, elementum nisi. Integer congue eu velit nec malesuada. Vestibulum felis felis, varius nec mattis in, fermentum venenatis elit. Suspendisse ut nibh felis. Nullam ac sodales purus. Nam sollicitudin lorem ac cursus sagittis. Morbi efficitur vestibulum viverra.

Nam consectetur ex augue, nec blandit magna sodales sit amet. Suspendisse faucibus, mi at malesuada vehicula, ante risus blandit diam, quis convallis felis odio at enim. Donec consequat dolor vehicula risus molestie, id iaculis metus interdum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed molestie efficitur finibus. Morbi et turpis sit amet massa facilisis placerat. Mauris ac enim urna. In bibendum cursus purus. Donec faucibus lacinia leo, non sagittis velit sodales vel. Donec auctor tellus id sollicitudin pellentesque. Quisque suscipit turpis est, sed eleifend diam commodo eget.

Ut sagittis volutpat pellentesque. Nulla facilisi. Suspendisse dapibus pellentesque quam, nec pellentesque urna finibus luctus. Etiam luctus tincidunt aliquam. Integer venenatis euismod nisl eu vestibulum. Etiam sollicitudin ipsum orci, in euismod lorem dapibus a. Integer vitae commodo justo. Quisque tristique diam nec turpis varius pretium in in massa. Cras vitae porttitor quam. Nullam a nibh ex. Nunc eu sodales sem, at suscipit quam. Nulla tellus metus, porta maximus tortor at, mollis pretium diam. gravida venenatis est. Pellentesque lobortis in enim vel porttitor. Quisque quis augue leo. Nullam molestie maximus dui sit amet congue. Integer sagittis nisl nec consectetur varius. Suspendisse vulputate ultrices lacus, a lobortis sem hendrerit eget. Donec semper ligula nec fermentum rutrum.</p>
        </div>
      </div>
    </div>
    <script src="/scripts/script.js"></script>
  </body>
</html>
