<% include partials/header %>
<div class="navBar" id="navBar">
  <a href="/" class="main">Home</a>
  <a href="websites">Website Templates</a>
  <a href="contact">Contact</a>
  <a href="about">About</a>
  <div class="navIconButton" onclick="navIconClick()">
    <span class="navIconBar"></span>
    <span class="navIconBar"></span>
    <span class="navIconBar"></span>
  </div>
</div>

<div class="content" onclick="focusContent()">
  <div class="container">
    <div class="col lg-12-nl md-12-nl sm-12-nl">
      <h1 class="jumboFont">Jax Tubbs</h1>
      <p class="textCenter">I am a seventeen year old aspiring web developer. This is my live testing site. I use this site as my portfolio and as a way to demonstrate my skills.</p>
      <p class="textCenter">My goal is to build the most professional sites possible. If you notice anything that you would like to see differently, please contact me as I am always taking criticism and suggestions.</p>
    </div>
  </div>
</div>
<% include partials/footer %>
