<% include partials/header %>
  <div class="page">
    <header>
      <nav>
        <ul class="navBarLinks">
          <li id="navBarBonfire">
            <a href="/">
              <strong>BONFIRE</strong>
            </a>
          </li>
          <li>
            <a href="/" class="underlineLink">ABOUT</a>
          </li>
          <li>
            <a href="/" class="underlineLink">PRICING</a>
          </li>
          <li>
            <a href="/" class="underlineLink">SCHEDULE</a>
          </li>
          <li>
            <a href="/" class="underlineLink">EVENTS</a>
          </li>
          <li>
            <form id="searchNavBarForm" action="/" method="get">
              <input align="right" type="text" name="Search" value="" placeholder="Search Locations" size="15" id="searchNavBar">
            </form>
          </li>
        </ul>
      </nav>
    </header>

    <div class="content">
      <div class="megatron">
          <h1>Welcome to Bonfire</h1>
      </div>
      <div class="factBoxesContainer">
        <div class="factBoxes">
          <h3>Welcome to our site</h3>
          <p>We offer a large variety of services to our community.</p>
        </div>
        <div class="factBoxes">
          <h3>Welcome to our site</h3>
          <p>We offer a large variety of services to our community.</p>
        </div>
        <div class="factBoxes">
          <h3>Welcome to our site</h3>
          <p>We offer a large variety of services to our community.</p>
          </div>
      </div>
    </div>

  </div>

  <% include partials/footer %>
